aside{
    width: 20%;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;

    position: fixed;
    background:linear-gradient(to bottom,#232926, #5500ff);
    color : white;
}


aside h2{
    margin: 0;
    padding: 10px;
    background-color: #000;
    color: white;
    border-bottom: solid 5px #e2d2ff;
}

#deco{
    position: fixed;
    border-radius: 18px;
    font-size: 25px;
    padding: 10px;
    bottom: 1em;
    left: 1%;
    width: 18%;
    color: white;
    background-color: #000;
    border: none;
}
#deco:hover{
    background-color: #1e1e20;
    color: white;
}