#aside-tout {
    width: 15em;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #3d00b6;
    color: white;
}

#aside-tout h1#cote {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.5em;
    background-color: black;
    border-bottom: 5px solid #e2d2ff;
}

#aside-tout h1#cote img {
    margin-left: 10px;
    width: 1.5em;
}

#menu {
    text-align: center;
}

#menu p {
    border-bottom: 5px solid #e2d2ff;
    padding: 1.5em;
    margin: 0;
}

#menu p a {
    color: white;
    text-decoration: none;
}

#deco {
    position: fixed;
    bottom: 1em;
    left: 1.5em;
    width: 12em;
    padding: 0.5em;
    border: none;
    text-align: center;
}

input[type="submit"] {
    background-color: #120045;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #2a0199;
    cursor: pointer;
}

input[type="submit"]:active {
    transform: scale(0.95);
}
