#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ececec;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.bouton {
    width: 150px; 
    padding: 10px;
    background-color: #120045;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.bouton:hover {
    background-color: #2a0199;
}

#section {
    display: flex;
    justify-content: center; /* Centre les boutons */
    gap: 20px; /* Espace entre les boutons */
    margin-top: 20px;
}

a {
    text-decoration: none;
}