#principal {
    margin-left: 15em;
}


#bouton {
    align-items: center;
}


#tableau {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}


#tableau,
#tableau th,
#tableau td {
    border: 1px solid #000;
}


#tableau th {
    background-color: #f8f8f8;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}


#tableau td {
    text-align: center;
    padding: 10px;
}


#tableau td a {
    color: #800080; 
    text-decoration: none;
}

#tableau td a:hover {
    text-decoration: underline;
}


main {
    margin-left: 15em;
    width: 90%;
}

button.bouton-bas {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.bouton-bas:hover {
    background-color: #434190;
}
