body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

#principal {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

#texte {
  text-align: center;
  color: #5a67d8;
  font-size: 2em;
  margin-bottom: 20px;
}

.form-section {
  margin: 20px;
}

form#formulaire {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

/* Inputs et Select */
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

input[type="number"]:focus,
select:focus {
  border-color: #5a67d8;
  outline: none;
}

/* Ajustement du slider et de l'input */
.slider-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Style du champ numérique */
input[type="number"].slider-value {
  width: 80px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #5a67d8;
  color: #5a67d8;
  border-radius: 5px;
}

/* Style du champ numérique au focus */
input[type="number"].slider-value:focus {
  outline: none;
  border-color: #434190;
  box-shadow: 0 0 5px rgba(90, 103, 216, 0.5);
}

/* Style du slider */
.slider {
  width: 100%;
}

/* Bouton */
button.bouton-bas {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #5a67d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.bouton-bas:hover {
  background-color: #434190;
}

/* Responsive */
@media (max-width: 768px) {
  #principal {
    padding: 15px;
  }

  h1#texte {
    font-size: 1.5em;
  }
}