#main-rider {
    margin-left: 17em;
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;
}

#main-rider section {
    display: flex;
    flex-direction: left;
}

#main-rider h1 {
    flex-wrap: wrap;
    text-align: center;
    font-size: 2em;
}

#adresse, #demande-hotel {
    display: none;
    margin-bottom: 1em;
    width: 490px;
}

#demandeP, #demande-hotel {
    margin-bottom: 1em;
    max-width: 500px;
    min-width: 500px;
    max-height: 25em;
}

#envoyer-rider {
    cursor: pointer;
    font-size: 1em;
    background-color: #120045;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 1em;
    padding: 0.5em;
    width: 10em;
    }
      
#envoyer-rider:hover {
    background-color: #2a0199;
    cursor: pointer;
}

#envoyer-rider:active {
    transform: scale(0.95);
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gras {
    font-weight: bold;
}

.rider{
    display: flex;
}

.grand {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    margin: 1em;
}

.grand div {
    margin-bottom: 2%;
    border-radius: 5px;
}


.question {
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #120045;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

select, input[type="text"], input[type="number"] {
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 16px);
}

input[type="checkbox"] {
    width: 20px; 
    height: 20px;
    margin: 0 auto;
}

table input[type="text"]::placeholder,
table input[type="number"]::placeholder {
    color: #999;
    font-style: italic;
}

td {
    vertical-align: middle;
}

td:first-child select {
    width: 100%; 
}

td:nth-child(2) input[type="text"] {
    margin-right: 3em;
}

td:nth-child(4) input[type="number"] {
    width: 80px;
    text-align: center;
}


.bouton-bas {
    align-items: center;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;

}

.bouton-bas:hover {
    background-color: #555;
}