.rider {
    display: flex;
    justify-content: space-between; /* Espace entre les deux colonnes */
    gap: 2%; /* Espace horizontal entre les colonnes */
}

.grand {
    display: flex;
    flex-direction: column;
    flex-basis: 48%; /* Chaque div prend environ 50% avec un petit espace pour le gap */
    margin: 0;
}

.grand div {
    margin-bottom: 2%;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #120045;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

select, input[type="text"], input[type="number"] {
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 16px); /* Ajustement pour les marges internes */
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    display: block; /* Convertit en bloc pour centrer */
    margin: 0 auto; /* Centre horizontalement */
}

td {
    vertical-align: middle;
    text-align: center; /* Centre le contenu des cellules */
}

td:first-child select {
    width: 100%;
}

td:nth-child(2) input[type="text"] {
    width: 95%;
}

td:nth-child(4) input[type="number"] {
    width: 80px;
    text-align: center;
}
