<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="../../public/assets/css/page-changement-mdp.css" rel="stylesheet">
        <title>Changer mot de passe - Concert'asso</title>
    </head>
    <body>
        <div class="header">
            <a href="page-connexion.html">Retour</a>
            <h1>Concert'asso</h1>
        </div>
        <div class="change_mdp">
            <p>Veuillez changer de mot de passe</p>
            <div class="password-container">
                <input type="password" id="passwd" placeholder="nouveau mot de passe"/>
                <button type="button" id="toggle-password" class="toggle-password">afficher</button>
            </div>
            <input type="password" id="passwd" placeholder="confirmer mot de passe"/>
            <p id="informations">* : l’utilisation de mot de passe fort est conseillé (majuscule, chiffre, caractère spéciaux, etc.)</p>
            <input type="submit" value="changer de mot de passe"/>
        </div>
    </body>
</html>