<!DOCTYPE html>
<html>
<head>
    <title>rider</title>
    <link rel="stylesheet" href="../../public/assets/css/main.css">
</head>

<body>
    <aside>
        <h2>$nomartiste</h2>
        <p>Vos spectacle</p>
        <p id='deco' >se deconetcter </p>
    </aside>
    <main>
        
        <h1>Fiche rider</h1>
        <section id = "question">
            <div>
                 <p>titre</p>
        <input type="text" name="titre" id="titre" placeholder="nom de l'artiste ">
        <p>date de representation</p>
        <input type="date" name="date" id="date" placeholder="date de representation">
        <p>demande particuliaire</p>
        <textarea type="text" name="demande" id="demande" size = '80'></textarea>
        <input type="checkbox" name = "veicule" id="veicule"> 
        <label for="checkbox">besoin d'un vehicule</label>
        <p>if veicule</p>
        <input type="text" name="adresse" id="adresse" placeholder="adresse">
        <input type="checkbox" name = "hotel" id="hotel"> 
        <label for="checkbox">besoin d'un hotel</label>
       <p>if hotel</p> 
        <textarea type="text" name="demande" id="demande">demande particuliaire</textarea>
            </div>
              <div>
            <table>
                <tr>
                    <th>Type du matériels </th>
                    <th>reference exacte</th>
                    <th>Quantitée </th>
                    <th>Commentaire</th>
                </tr>
                <tr>
                    <td>+Ajouter un ligne</td>
                </tr>
            </table>
        </div>
    </section>

    </main>

</body>

</html>